[submodule "src/imbalanced-learn/imbalanced-learn"]
	path = src/imbalanced-learn/imbalanced-learn
	url = https://github.com/scikit-learn-contrib/imbalanced-learn.git
[submodule "src/joblib/joblib"]
	path = src/joblib/joblib
	url = https://github.com/joblib/joblib.git
[submodule "src/scikit-learn/scikit-learn"]
	path = src/scikit-learn/scikit-learn
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "src/threadpoolctl/threadpoolctl"]
	path = src/threadpoolctl/threadpoolctl
	url = https://github.com/joblib/threadpoolctl.git
