[submodule "src/scikit-learn/scikit-learn"]
	path = src/scikit-learn/scikit-learn
	url = https://github.com/scikit-learn/scikit-learn.git
	ignore = all
[submodule "src/threadpoolctl/threadpoolctl"]
	path = src/threadpoolctl/threadpoolctl
	url = https://github.com/joblib/threadpoolctl.git
	ignore = all
[submodule "src/joblib/joblib"]
        path = src/joblib/joblib
	url = https://github.com/joblib/joblib.git
	ignore = all
[submodule "src/skore/skore"]
	path = src/skore/skore
	url = git@github.com:probabl-ai/skore.git
	ignore = all
[submodule "src/scikit-playtime/scikit-playtime"]
	path = src/scikit-playtime/scikit-playtime
	url = git@github.com:koaning/scikit-playtime.git
	ignore = all
[submodule "src/imbalanced-learn"]
	path = src/imbalanced-learn
	url = git@github.com:scikit-learn-contrib/imbalanced-learn.git
